{% extends 'bills/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Bill | Bill Splitter{% endblock %}

{% block header %}Create Bill{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create a New Bill</h6>
            </div>
            <div class="card-body">
                <p class="mb-4">Create a new bill to split with your group members. After creating a bill, you'll be able to specify how to split it.</p>
                
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.amount|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.group|as_crispy_field }}
                        </div>
                        <div class="col-md-12 mb-3">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-file-invoice-dollar me-2"></i> Create Bill
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 